@import 'partials/variables.scss';

* {
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

header {
  padding: 1rem;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

button {
  background-color: #3299ef;
}

a {
  color: $secondary;
}

h1 {
  color: $primary;
  margin-bottom: $base-margin;
}

button {
  color: white;
  border: 0;
  background: $primary;
  border-radius: $base-border-radius;
  padding: $base-padding;
}

.error {
  color: $error;
  border-color: $error;
  border-style: solid;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}

.notification {
  color: $secondary;
  border-color: $secondary;
  border-style: solid;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}
