@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 2);

  // @include xl {
  //   margin: 3rem;
  // }

  .card-title {
    font-size: $font-size-lg;
    font-weight: bold;
    padding-bottom: $base-padding;
  }

  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}

// @debug 'hello people';
// @debug math.div(10, 3);
// @debug math.floor(4.9);
// @debug math.max(5px, 20px);
